xsl/tosvg/scantest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="test">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="value" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="angle" type="xs:short"/>
							<xs:element name="ba" type="xs:decimal"/>
							<xs:element name="br" type="xs:decimal"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
